# Eclipse
.classpath
.project
.settings/

log/
#target/
src/main/resources/cau.key.pem



#old javadoc
/doc/

/bin/

/mF2C-cau-client.log

/mF2Ccacert.jks

/mF2Cjks.jks

/target/
archive-tmp/
/target/*classes/
/target/generated-sources/
/target/javadoc-bundle-options/
/target/maven-*/
/target/*.jar
